.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.doc-card {
  width: 160px; height: auto;
}

.navbar-brand {
    line-height: 50px;
    height: 50px;
    padding-top: 0;
}
.navbar-brand{
  position: relative;
  bottom: 35px;
}
.languages{
    word-spacing: 9999999px;
}

.img-fluid {
  border: 3px solid black;
  margin-top: 40px;
}

.quality_area {
  padding-top: 25px;
}

.quality_area.minus_padd {
  padding-top: 125px;
}

@media (max-width: 767px) {
  .quality_area.minus_padd {
    padding-top: 0;
  }
}

@media (max-width: 767px) {
  .quality_area {
    padding-top: 70px;
    padding-bottom: 40px;
  }
  .quality_area p {
    font-size: 65%;
  }
  .quality_area h3 {
    font-size: 125%;
  }
}

.quality_area .single_quality {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 50px 45px 10px 45px;
  margin-bottom: 5px;
  text-align: center;
}

.quality_area .single_quality .icon {
  background-image: -moz-linear-gradient(90deg, #24c0f1 0%, #4c9afe 100%);
  background-image: -webkit-linear-gradient(90deg, #24c0f1 0%, #4c9afe 100%);
  background-image: -ms-linear-gradient(90deg, #24c0f1 0%, #4c9afe 100%);
  width: 90px;
  height: 90px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  font-size: 40px;
  text-align: center;
  line-height: 90px;
}

.parallax {
  background-image: url("/img/bc.png");
  height: 27.5vw;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.doc-prof{
  background: url(/img/bc.png);
  background-size: cover;
  background-position: center;
  min-height: 300px;
}

.box{
  width: 450px;
  background: rgba(0, 0, 0, 0.4);
  padding: 40px;
  text-align: center;
  margin: auto;
  color: white;
  font-family: 'Century Gothic',sans-serif;
}
.box-img{
  border-radius: 50%;
  width: 150px;
  height: 150px;
}
.box h1{
  font-size: 40px;
  letter-spacing: 4px;
  font-weight: 100;
}
.box h5{
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 100;
}
.box p{
  text-align: justify;
}
.box ul{
  margin: 0;
  padding: 0;
}
.box li{
  display: inline-block;
  margin: 6px;
  list-style: none;
}
.box li a{
  color: white;
  text-decoration: none;
  font-size: 60px;
  transition: all ease-in-out 250ms;
}
.box li a:hover{
  color: #b9b9b9;
}

}
.box{
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #191919;
  text-align: center;
}
.box h1{
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}
.box input[type = "text"],.box input[type = "password"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
.box input[type = "text"]:focus,.box input[type = "password"]:focus{
  width: 280px;
  border-color: #2ecc71;
}
.box input[type = "submit"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.box input[type = "submit"]:hover{
  background: #2ecc71;
}

.logo-form{
  display: block;
   margin: auto auto;
}

html, body {
    background-color: #fff;
    font-family: 'Nunito', sans-serif;
    height: 100%;
    width: 100%;
    color: #222;
}

.doc-header{
    background: url(../img/profile.jpg);
    background-size: cover;
    background-position: top;
    height: 500px;
}

.symptom-header{
    background: url(../img/sympton-header.jpg);
    background-size: cover;
    background-position: top;
    height: 500px;
}

.doctors > a{
  margin: 2px;
  width: 190px;
  height: auto;
}

.navbar{
    padding: .8rem;
}

.navbar-nav li {
    padding-right: 20px;
}

.nav-link {
    font-size: 1.1em !important;
}

.carousel-inner img {
    width: 100%;
    height: 46.5vw;
}

.carousel-caption {
    position: absolute;
    top: 30%;
    transform: translateY(-30%);
}

.carousel-caption h1 {
    font-size: 400%;
    text-transform: uppercase;
    text-shadow: 1px 1px 15px #000;
}

.carousel-caption h3 {
    font-size: 150%;
    font-weight: 500;
    text-shadow: 1px 1px 10px #000;
    padding-bottom: 1rem;
}

.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}

.padding {
    padding-bottom: 2rem;
}

.welcome {
    width: 75%;
    margin: 0 auto;
    padding-top: 2rem;
}

.welcome hr {
    border-top: 2px solid #b4b4b4;
    width: 95%;
    margin-top: .3rem;
    margin-bottom: 1rem;
}

footer {
    background-color: #3f3f3f;
    color: #d5d5d5;
    padding-top: 2rem;
}

hr.light {
    border-top: 1px solid #d5d5d5;
    width: 75%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}

footer a {
    color: #d5d5d5;
}

hr.light-100 {
    border-top: 1px solid #d5d5d5;
    width: 100%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}

.label-picker{
  position: relative;
  top: 5.25vw;
}

/*---Media Queries --*/
@media (max-width: 992px) {
    .social a {
        font-size: 4em;
        padding: 2rem;
    }
}
@media (max-width: 768px) {

   .app-but{
     position: relative;
     top: 2vw;
   }

.carousel-inner img {
  height: 60vw;
}

.carousel-caption {
    top: 20%;
}

.carousel-caption h1 {
    font-size: 350%;
}

.carousel-caption h3 {
    font-size: 200%;
    font-weight: 400;
    padding-bottom: .2rem;
}
.carousel-cation .btn {
    font-size: 95%;
    padding: 8px 14px;
}
.display-4{
    font-size: 200%;
}
}
@media (max-width: 576px) {

  .doctors-c{
    width: 175px !important;
  }

  .doc-title{
    font-size: 150%;
  }

  .img-fluid {
    margin: 0;
    height: 200px;
  }

.grid figure {
  position: relative;
  right: 17.5px;
}

.doc-header{
    height: 250px;
}

.symptom-header{
    height: 250px;
}

.carousel-caption {
    top: 20%;
}

.carousel-caption h1 {
    font-size: 150%;
}

.carousel-caption h3 {
    font-size: 75%;
}

.display-4{
    font-size: 150%;
}

.parallax{
  height: 50vw;
}

footer {
    font-size: 80%;
}

}


/* COVID TABS */


nav > div a.nav-item.nav-link
{
    border: none;
    padding: 18px 25px;
    color: black;
    background: white;
    border-radius:0;
}

nav > div a.nav-item.nav-link.active:after
{
    content: "";
    position: relative;
    bottom: -60px;
    left: -10%;
    border: 15px solid transparent;
    border-top-color: #FFA600 ;
}
section .tab-content{
    background: #fdfdfd;
    line-height: 25px;
    border-top:7px solid #292828;
    padding:30px 25px;
}
.picker .tab-content{
    background-color: #FFEFD3;
}

nav > div a.nav-item.nav-link.active
{
    border: none;
    background: #292828;
    color:#fff;
    border-radius:0;
    transition:background 0.20s linear;
}

.bg-bad{
  background-color: #292828 ;
}

/* Loader design */

#loader {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid rgba(0,0,0,.3);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}

/* Symptom checker */

.pointer-cursor{
  cursor: pointer;
}

.centered {
text-align: center;

}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.uppercase-cap {
  text-transform: capitalize;
  }



/* Common style */
.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin-left: 22px;
  margin-top: 10px;
	width: 320px;
  height: 200px;
	background: #3085a3;
	text-align: center;
  border:1px solid black;
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
figure.effect-ruby {
	background-color: #17819c;
}

figure.effect-ruby img {
	opacity: 0.7;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(1.15);
	transform: scale(1.15);
}

figure.effect-ruby:hover img {
	opacity: 0.5;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.effect-ruby h2 {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,-10px,0);
	transform: translate3d(0,-10px,0);
}

figure.effect-ruby p {
	margin: 1em 0 0;
	padding: 3em;
	border: 1px solid #fff;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,150px,0) scale(1.1);
	transform: translate3d(0,150px,0) scale(1.1);
}

figure.effect-ruby:hover h2 {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-ruby:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,-75px,0) scale(1);
	transform: translate3d(0,-75px,0) scale(1);
}

@media screen and (max-width: 50em) {
	.content {
		padding: 0 10px;
		text-align: center;
	}
	.grid figure {
		display: inline-block;
		float: none;
		margin: 10px auto;
		width: 100%;
	}
}
